In [ ]:
#EDA - Exploratory Data Analysis

In [3]:
import pandas as pd
df=pd.read_csv("streetwear_sales_data.csv")
df

,Date,Product Name,Product Type,Brand,Gender,Category,Country,Quantity,Unit Price ($),Amount($),Payment Mode
0,5/27/2022,Fear of God Essentials Tee,T-shirt,Essentials,Unisex,Limited Edition,Japan,5,141.82,709.10,Card
1,8/22/2022,Yeezy Boost 350,Sneakers,Adidas,Unisex,Streetwear,USA,2,267.34,534.68,Cash on Delivery
2,4/3/2022,Nike Dunk Low,Sneakers,Nike,Women,Limited Edition,Germany,1,292.00,292.00,Cash on Delivery
3,7/13/2022,Nike Tech Fleece,Hoodie,Nike,Men,Limited Edition,USA,4,245.44,981.76,Cash on Delivery
4,8/25/2022,Jordan 1 High,Sneakers,Nike,Women,Casual,Australia,2,184.51,369.02,Cash on Delivery
...,...,...,...,...,...,...,...,...,...,...,...
348,4/8/2022,Jordan 1 High,Sneakers,Nike,Men,Casual,India,5,94.25,471.25,Wallet
349,8/3/2022,Nike Tech Fleece,Hoodie,Nike,Women,Casual,Germany,5,259.00,1295.00,Card
350,5/5/2022,Puma Joggers,Joggers,Puma,Women,Casual,Germany,4,299.73,1198.92,Cash on Delivery
351,5/19/2022,Adidas Ultraboost,Sneakers,Adidas,Men,Casual,Canada,5,71.26,356.30,Cash on Delivery
352,7/17/2022,Nike Dunk Low,Sneakers,Nike,Women,Limited Edition,Japan,5,270.14,1350.70,Wallet

In [4]:
df.head()

,Date,Product Name,Product Type,Brand,Gender,Category,Country,Quantity,Unit Price ($),Amount($),Payment Mode
0,5/27/2022,Fear of God Essentials Tee,T-shirt,Essentials,Unisex,Limited Edition,Japan,5,141.82,709.10,Card
1,8/22/2022,Yeezy Boost 350,Sneakers,Adidas,Unisex,Streetwear,USA,2,267.34,534.68,Cash on Delivery
2,4/3/2022,Nike Dunk Low,Sneakers,Nike,Women,Limited Edition,Germany,1,292.00,292.00,Cash on Delivery
3,7/13/2022,Nike Tech Fleece,Hoodie,Nike,Men,Limited Edition,USA,4,245.44,981.76,Cash on Delivery
4,8/25/2022,Jordan 1 High,Sneakers,Nike,Women,Casual,Australia,2,184.51,369.02,Cash on Delivery

In [6]:
df.head(2)

,Date,Product Name,Product Type,Brand,Gender,Category,Country,Quantity,Unit Price ($),Amount($),Payment Mode
0,5/27/2022,Fear of God Essentials Tee,T-shirt,Essentials,Unisex,Limited Edition,Japan,5,141.82,709.10,Card
1,8/22/2022,Yeezy Boost 350,Sneakers,Adidas,Unisex,Streetwear,USA,2,267.34,534.68,Cash on Delivery

In [5]:
df.tail()

,Date,Product Name,Product Type,Brand,Gender,Category,Country,Quantity,Unit Price ($),Amount($),Payment Mode
348,4/8/2022,Jordan 1 High,Sneakers,Nike,Men,Casual,India,5,94.25,471.25,Wallet
349,8/3/2022,Nike Tech Fleece,Hoodie,Nike,Women,Casual,Germany,5,259.00,1295.00,Card
350,5/5/2022,Puma Joggers,Joggers,Puma,Women,Casual,Germany,4,299.73,1198.92,Cash on Delivery
351,5/19/2022,Adidas Ultraboost,Sneakers,Adidas,Men,Casual,Canada,5,71.26,356.30,Cash on Delivery
352,7/17/2022,Nike Dunk Low,Sneakers,Nike,Women,Limited Edition,Japan,5,270.14,1350.70,Wallet

In [7]:
df.tail(3)

,Date,Product Name,Product Type,Brand,Gender,Category,Country,Quantity,Unit Price ($),Amount($),Payment Mode
350,5/5/2022,Puma Joggers,Joggers,Puma,Women,Casual,Germany,4,299.73,1198.92,Cash on Delivery
351,5/19/2022,Adidas Ultraboost,Sneakers,Adidas,Men,Casual,Canada,5,71.26,356.30,Cash on Delivery
352,7/17/2022,Nike Dunk Low,Sneakers,Nike,Women,Limited Edition,Japan,5,270.14,1350.70,Wallet

In [8]:
df.duplicated().sum()

np.int64(0)

In [9]:
df.drop_duplicates()

,Date,Product Name,Product Type,Brand,Gender,Category,Country,Quantity,Unit Price ($),Amount($),Payment Mode
0,5/27/2022,Fear of God Essentials Tee,T-shirt,Essentials,Unisex,Limited Edition,Japan,5,141.82,709.10,Card
1,8/22/2022,Yeezy Boost 350,Sneakers,Adidas,Unisex,Streetwear,USA,2,267.34,534.68,Cash on Delivery
2,4/3/2022,Nike Dunk Low,Sneakers,Nike,Women,Limited Edition,Germany,1,292.00,292.00,Cash on Delivery
3,7/13/2022,Nike Tech Fleece,Hoodie,Nike,Men,Limited Edition,USA,4,245.44,981.76,Cash on Delivery
4,8/25/2022,Jordan 1 High,Sneakers,Nike,Women,Casual,Australia,2,184.51,369.02,Cash on Delivery
...,...,...,...,...,...,...,...,...,...,...,...
348,4/8/2022,Jordan 1 High,Sneakers,Nike,Men,Casual,India,5,94.25,471.25,Wallet
349,8/3/2022,Nike Tech Fleece,Hoodie,Nike,Women,Casual,Germany,5,259.00,1295.00,Card
350,5/5/2022,Puma Joggers,Joggers,Puma,Women,Casual,Germany,4,299.73,1198.92,Cash on Delivery
351,5/19/2022,Adidas Ultraboost,Sneakers,Adidas,Men,Casual,Canada,5,71.26,356.30,Cash on Delivery
352,7/17/2022,Nike Dunk Low,Sneakers,Nike,Women,Limited Edition,Japan,5,270.14,1350.70,Wallet

In [10]:
df.columns

Index(['Date', 'Product Name', 'Product Type', 'Brand', 'Gender', 'Category',
       'Country', 'Quantity', 'Unit Price ($)', 'Amount($)', 'Payment Mode'],
      dtype='object')

In [12]:
df.loc[0:2]

,Date,Product Name,Product Type,Brand,Gender,Category,Country,Quantity,Unit Price ($),Amount($),Payment Mode
0,5/27/2022,Fear of God Essentials Tee,T-shirt,Essentials,Unisex,Limited Edition,Japan,5,141.82,709.10,Card
1,8/22/2022,Yeezy Boost 350,Sneakers,Adidas,Unisex,Streetwear,USA,2,267.34,534.68,Cash on Delivery
2,4/3/2022,Nike Dunk Low,Sneakers,Nike,Women,Limited Edition,Germany,1,292.00,292.00,Cash on Delivery

In [15]:
df.describe()

         Quantity  Unit Price ($)    Amount($)
count  353.000000      353.000000   353.000000
mean     3.107649      174.607054   547.034193
std      1.408083       71.625710   343.084461
min      1.000000       50.100000    50.100000
25%      2.000000      113.750000   268.780000
50%      3.000000      175.510000   494.400000
75%      4.000000      235.500000   783.930000
max      5.000000      299.730000  1496.500000

In [20]:
df.sort_values(by="Quantity",ascending=True)

,Date,Product Name,Product Type,Brand,Gender,Category,Country,Quantity,Unit Price ($),Amount($),Payment Mode
38,4/28/2022,Yeezy Boost 350,Sneakers,Adidas,Unisex,Sportswear,Australia,1,70.69,70.69,UPI
39,3/13/2022,Off-White Hoodie,Hoodie,Off-White,Women,Casual,UK,1,89.14,89.14,Cash on Delivery
54,5/28/2022,Off-White Hoodie,Hoodie,Off-White,Unisex,Limited Edition,Canada,1,180.42,180.42,Cash on Delivery
53,5/24/2022,Adidas Ultraboost,Sneakers,Adidas,Women,Casual,UK,1,208.47,208.47,Cash on Delivery
60,5/22/2022,Off-White Hoodie,Hoodie,Off-White,Men,Streetwear,Canada,1,180.39,180.39,Card
...,...,...,...,...,...,...,...,...,...,...,...
295,2/27/2022,Yeezy Boost 350,Sneakers,Adidas,Unisex,Sportswear,USA,5,248.71,1243.55,Wallet
45,7/10/2022,Off-White Hoodie,Hoodie,Off-White,Women,Streetwear,Canada,5,256.22,1281.10,Wallet
43,7/12/2022,Nike Tech Fleece,Hoodie,Nike,Women,Casual,Australia,5,120.55,602.75,UPI
34,3/8/2022,Off-White Hoodie,Hoodie,Off-White,Women,Casual,UK,5,234.84,1174.20,Card
0,5/27/2022,Fear of God Essentials Tee,T-shirt,Essentials,Unisex,Limited Edition,Japan,5,141.82,709.10,Card

In [16]:
df.shape

(353, 11)

In [22]:
df["Amount($)"].median()

np.float64(494.4)

In [23]:
df["Amount($)"].mean()

np.float64(547.0341926345609)

In [24]:
df["Amount($)"].mode()

0        50.10
1        54.44
2        54.99
3        56.49
4        56.73
        ...
348    1426.85
349    1447.35
350    1458.50
351    1466.05
352    1496.50
Name: Amount($), Length: 353, dtype: float64

In [25]:
df

,Date,Product Name,Product Type,Brand,Gender,Category,Country,Quantity,Unit Price ($),Amount($),Payment Mode
0,5/27/2022,Fear of God Essentials Tee,T-shirt,Essentials,Unisex,Limited Edition,Japan,5,141.82,709.10,Card
1,8/22/2022,Yeezy Boost 350,Sneakers,Adidas,Unisex,Streetwear,USA,2,267.34,534.68,Cash on Delivery
2,4/3/2022,Nike Dunk Low,Sneakers,Nike,Women,Limited Edition,Germany,1,292.00,292.00,Cash on Delivery
3,7/13/2022,Nike Tech Fleece,Hoodie,Nike,Men,Limited Edition,USA,4,245.44,981.76,Cash on Delivery
4,8/25/2022,Jordan 1 High,Sneakers,Nike,Women,Casual,Australia,2,184.51,369.02,Cash on Delivery
...,...,...,...,...,...,...,...,...,...,...,...
348,4/8/2022,Jordan 1 High,Sneakers,Nike,Men,Casual,India,5,94.25,471.25,Wallet
349,8/3/2022,Nike Tech Fleece,Hoodie,Nike,Women,Casual,Germany,5,259.00,1295.00,Card
350,5/5/2022,Puma Joggers,Joggers,Puma,Women,Casual,Germany,4,299.73,1198.92,Cash on Delivery
351,5/19/2022,Adidas Ultraboost,Sneakers,Adidas,Men,Casual,Canada,5,71.26,356.30,Cash on Delivery
352,7/17/2022,Nike Dunk Low,Sneakers,Nike,Women,Limited Edition,Japan,5,270.14,1350.70,Wallet

In [ ]:
#EDA

In [ ]:
# Q1).  which product amount is highest(top 10)?

In [26]:
df.loc[df["Amount($)"].idxmax()]

Date                     6/6/2022
Product Name        Jordan 1 High
Product Type             Sneakers
Brand                        Nike
Gender                      Women
Category          Limited Edition
Country                       USA
Quantity                        5
Unit Price ($)              299.3
Amount($)                  1496.5
Payment Mode                 Card
Name: 86, dtype: object

In [27]:
df.loc[df["Amount($)"].idxmax(),["Product Name","Amount($)"]]

Product Name    Jordan 1 High
Amount($)              1496.5
Name: 86, dtype: object

In [ ]:
# q2.whats the avg unit price by country top 5

In [31]:
df.groupby("Country")["Unit Price ($)"].mean().head(5)

Country
Australia    172.256383
Canada       177.102203
Germany      185.442963
India        157.720000
Japan        185.719423
Name: Unit Price ($), dtype: float64

In [ ]:
# q3. what is the total Amount($) by country top 5

In [30]:
df.groupby("Country")["Amount($)"].sum().sort_values(ascending=False).head(5)

Country
Japan      31587.39
Canada     30851.19
Germany    29822.89
UK         29739.25
USA        26095.59
Name: Amount($), dtype: float64

In [ ]:
# q4. type of Payment Mode used for amount top 5?

In [34]:
df["Payment Mode"].value_counts().head(5)

Payment Mode
Cash on Delivery    102
Card                 89
Wallet               89
UPI                  73
Name: count, dtype: int64

In [ ]:
#q5. share of gender

In [38]:
df["Gender"].value_counts(normalize=True)*10

Gender
Women     3.767705
Men       3.626062
Unisex    2.606232
Name: proportion, dtype: float64

In [39]:
(df["Gender"].value_counts(normalize=True)*100).round(2)

Gender
Women     37.68
Men       36.26
Unisex    26.06
Name: proportion, dtype: float64

In [ ]:
#q6. which brand is mostly used(Product Name	Product Type	Brand)

In [42]:
df.loc[df["Brand"].idxmax(),["Product Name","Product Type","Brand"]]

Product Name    Supreme Hoodie
Product Type            Hoodie
Brand                  Supreme
Name: 11, dtype: object

In [ ]:
#q7. whts the avg number of unit price does product type have

In [43]:
df["Unit Price ($)"].mean().round(2)

np.float64(174.61)

In [ ]:
#q8. Category status distribution

In [44]:
df["Category"].value_counts()

Category
Casual             99
Streetwear         92
Limited Edition    85
Sportswear         77
Name: count, dtype: int64

In [ ]:
#q9 . top 10 highest sale product name and brand (product name ,product type ,amount , brand)

In [46]:
df[["Product Name","Amount($)","Brand"]].sort_values("Amount($)",ascending=False).head(10)

                   Product Name  Amount($)       Brand
86                Jordan 1 High    1496.50        Nike
325              Supreme Hoodie    1466.05     Supreme
185               Jordan 1 High    1458.50        Nike
316                Puma Joggers    1447.35        Puma
268               Nike Dunk Low    1426.85        Nike
225           Adidas Ultraboost    1376.35      Adidas
335               Nike Dunk Low    1365.00        Nike
352               Nike Dunk Low    1350.70        Nike
249  Fear of God Essentials Tee    1338.55  Essentials
112             Yeezy Boost 350    1313.40      Adidas

In [ ]:
#q10. how many times same date repeated top 10

In [53]:
df["Date"].value_counts().head(10)

Date
8/30/2022    5
8/25/2022    4
4/3/2022     4
8/10/2022    4
5/7/2022     4
5/28/2022    4
2/8/2022     4
7/17/2022    4
6/2/2022     4
7/26/2022    4
Name: count, dtype: int64